<a href="https://colab.research.google.com/github/Imran0897/Churn_Modelling_Deep_Learning/blob/main/Churn_modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [7]:
df = pd.read_csv('Churn_Modelling.csv')

In [8]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
x = df.iloc[:,3:13]
y= df.iloc[:,13]

In [11]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [17]:
geo = pd.get_dummies(x[['Geography']],drop_first=True)

In [20]:
gen = pd.get_dummies(x[['Gender']],drop_first=True)

In [21]:
gen

      Gender_Male
0               0
1               0
2               0
3               0
4               0
...           ...
9995            1
9996            1
9997            0
9998            1
9999            0

[10000 rows x 1 columns]

In [23]:
x =pd.concat([x,gen,geo],axis=1)

In [24]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [27]:
x = x.drop(columns=['Geography','Gender'])

In [28]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [44]:
x_train.shape

(8000, 11)

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=144)

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [35]:
from keras.models import Sequential

In [37]:
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [38]:
model = Sequential()

In [46]:
model.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
model.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
model.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [49]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics = 'accuracy')

In [53]:
model_histroy = model.fit(x_train,y_train,validation_split=0.25,batch_size=10,epochs=100)

Epoch 1/100
600/600 [==============================] - 5s 4ms/step - loss: 0.8075 - accuracy: 0.6315 - val_loss: 0.5045 - val_accuracy: 0.8020
Epoch 2/100
600/600 [==============================] - 2s 3ms/step - loss: 0.4654 - accuracy: 0.8200 - val_loss: 0.4625 - val_accuracy: 0.8125
Epoch 3/100
600/600 [==============================] - 2s 3ms/step - loss: 0.4329 - accuracy: 0.8302 - val_loss: 0.4375 - val_accuracy: 0.8210
Epoch 4/100
600/600 [==============================] - 2s 3ms/step - loss: 0.4043 - accuracy: 0.8428 - val_loss: 0.4049 - val_accuracy: 0.8410
Epoch 5/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3779 - accuracy: 0.8505 - val_loss: 0.3928 - val_accuracy: 0.8405
Epoch 6/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3660 - accuracy: 0.8532 - val_loss: 0.3833 - val_accuracy: 0.8420
Epoch 7/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3601 - accuracy: 0.8537 - val_loss: 0.3801 - val_accuracy: 0.8470
Epoch 8/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3555 - accuracy: 0.8553 - val_loss: 0.3778 - val_accuracy: 0.8490
Epoch 9/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3511 - accuracy: 0.8555 - val_loss: 0.3739 - val_accuracy: 0.8445
Epoch 10/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3475 - accuracy: 0.8562 - val_loss: 0.3724 - val_accuracy: 0.8500
Epoch 11/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3454 - accuracy: 0.8550 - val_loss: 0.3711 - val_accuracy: 0.8475
Epoch 12/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3432 - accuracy: 0.8560 - val_loss: 0.3699 - val_accuracy: 0.8495
Epoch 13/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3414 - accuracy: 0.8582 - val_loss: 0.3750 - val_accuracy: 0.8510
Epoch 14/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3400 - accuracy: 0.8578 - val_loss: 0.3676 - val_accuracy: 0.8440
Epoch 15/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3388 - accuracy: 0.8602 - val_loss: 0.3670 - val_accuracy: 0.8480
Epoch 16/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3376 - accuracy: 0.8575 - val_loss: 0.3700 - val_accuracy: 0.8535
Epoch 17/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3361 - accuracy: 0.8612 - val_loss: 0.3670 - val_accuracy: 0.8520
Epoch 18/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3351 - accuracy: 0.8617 - val_loss: 0.3670 - val_accuracy: 0.8510
Epoch 19/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3329 - accuracy: 0.8602 - val_loss: 0.3721 - val_accuracy: 0.8525
Epoch 20/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3328 - accuracy: 0.8628 - val_loss: 0.3663 - val_accuracy: 0.8505
Epoch 21/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3317 - accuracy: 0.8628 - val_loss: 0.3662 - val_accuracy: 0.8510
Epoch 22/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3310 - accuracy: 0.8638 - val_loss: 0.3656 - val_accuracy: 0.8500
Epoch 23/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3301 - accuracy: 0.8628 - val_loss: 0.3681 - val_accuracy: 0.8520
Epoch 24/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3304 - accuracy: 0.8633 - val_loss: 0.3700 - val_accuracy: 0.8510
Epoch 25/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3299 - accuracy: 0.8650 - val_loss: 0.3659 - val_accuracy: 0.8520
Epoch 26/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3284 - accuracy: 0.8653 - val_loss: 0.3677 - val_accuracy: 0.8515
Epoch 27/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3271 - accuracy: 0.8652 - val_loss: 0.3678 - val_accuracy: 0.8525
Epoch 28/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3269 - accuracy: 0.8653 - val_loss: 0.3648 - val_accuracy: 0.8485
Epoch 29/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3263 - accuracy: 0.8660 - val_loss: 0.3672 - val_accuracy: 0.8535
Epoch 30/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3257 - accuracy: 0.8662 - val_loss: 0.3675 - val_accuracy: 0.8540
Epoch 31/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3251 - accuracy: 0.8673 - val_loss: 0.3644 - val_accuracy: 0.8515
Epoch 32/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3253 - accuracy: 0.8638 - val_loss: 0.3650 - val_accuracy: 0.8575
Epoch 33/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3240 - accuracy: 0.8668 - val_loss: 0.3668 - val_accuracy: 0.8510
Epoch 34/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3235 - accuracy: 0.8682 - val_loss: 0.3662 - val_accuracy: 0.8550
Epoch 35/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3232 - accuracy: 0.8660 - val_loss: 0.3651 - val_accuracy: 0.8565
Epoch 36/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3229 - accuracy: 0.8655 - val_loss: 0.3646 - val_accuracy: 0.8520
Epoch 37/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3217 - accuracy: 0.8675 - val_loss: 0.3624 - val_accuracy: 0.8525
Epoch 38/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3221 - accuracy: 0.8660 - val_loss: 0.3689 - val_accuracy: 0.8545
Epoch 39/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3219 - accuracy: 0.8660 - val_loss: 0.3632 - val_accuracy: 0.8545
Epoch 40/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3212 - accuracy: 0.8652 - val_loss: 0.3660 - val_accuracy: 0.8570
Epoch 41/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3213 - accuracy: 0.8685 - val_loss: 0.3647 - val_accuracy: 0.8555
Epoch 42/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3216 - accuracy: 0.8673 - val_loss: 0.3669 - val_accuracy: 0.8525
Epoch 43/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3218 - accuracy: 0.8662 - val_loss: 0.3662 - val_accuracy: 0.8535
Epoch 44/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3215 - accuracy: 0.8667 - val_loss: 0.3638 - val_accuracy: 0.8530
Epoch 45/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3208 - accuracy: 0.8667 - val_loss: 0.3645 - val_accuracy: 0.8480
Epoch 46/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3207 - accuracy: 0.8652 - val_loss: 0.3648 - val_accuracy: 0.8490
Epoch 47/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3210 - accuracy: 0.8697 - val_loss: 0.3656 - val_accuracy: 0.8570
Epoch 48/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3210 - accuracy: 0.8647 - val_loss: 0.3692 - val_accuracy: 0.8525
Epoch 49/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3200 - accuracy: 0.8670 - val_loss: 0.3655 - val_accuracy: 0.8525
Epoch 50/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3203 - accuracy: 0.8677 - val_loss: 0.3673 - val_accuracy: 0.8535
Epoch 51/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3204 - accuracy: 0.8692 - val_loss: 0.3613 - val_accuracy: 0.8520
Epoch 52/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3208 - accuracy: 0.8672 - val_loss: 0.3628 - val_accuracy: 0.8515
Epoch 53/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3197 - accuracy: 0.8683 - val_loss: 0.3641 - val_accuracy: 0.8540
Epoch 54/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3200 - accuracy: 0.8687 - val_loss: 0.3616 - val_accuracy: 0.8520
Epoch 55/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3202 - accuracy: 0.8673 - val_loss: 0.3648 - val_accuracy: 0.8545
Epoch 56/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3201 - accuracy: 0.8680 - val_loss: 0.3643 - val_accuracy: 0.8555
Epoch 57/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3201 - accuracy: 0.8687 - val_loss: 0.3648 - val_accuracy: 0.8550
Epoch 58/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3194 - accuracy: 0.8667 - val_loss: 0.3645 - val_accuracy: 0.8495
Epoch 59/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3200 - accuracy: 0.8685 - val_loss: 0.3629 - val_accuracy: 0.8555
Epoch 60/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3198 - accuracy: 0.8677 - val_loss: 0.3649 - val_accuracy: 0.8540
Epoch 61/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3197 - accuracy: 0.8665 - val_loss: 0.3657 - val_accuracy: 0.8525
Epoch 62/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3203 - accuracy: 0.8675 - val_loss: 0.3644 - val_accuracy: 0.8535
Epoch 63/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3192 - accuracy: 0.8677 - val_loss: 0.3647 - val_accuracy: 0.8515
Epoch 64/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3189 - accuracy: 0.8690 - val_loss: 0.3641 - val_accuracy: 0.8540
Epoch 65/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3190 - accuracy: 0.8668 - val_loss: 0.3647 - val_accuracy: 0.8535
Epoch 66/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3195 - accuracy: 0.8677 - val_loss: 0.3671 - val_accuracy: 0.8530
Epoch 67/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3193 - accuracy: 0.8685 - val_loss: 0.3707 - val_accuracy: 0.8510
Epoch 68/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3193 - accuracy: 0.8670 - val_loss: 0.3651 - val_accuracy: 0.8535
Epoch 69/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3195 - accuracy: 0.8700 - val_loss: 0.3648 - val_accuracy: 0.8485
Epoch 70/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3188 - accuracy: 0.8673 - val_loss: 0.3632 - val_accuracy: 0.8520
Epoch 71/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3190 - accuracy: 0.8697 - val_loss: 0.3658 - val_accuracy: 0.8485
Epoch 72/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3190 - accuracy: 0.8662 - val_loss: 0.3645 - val_accuracy: 0.8550
Epoch 73/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3186 - accuracy: 0.8672 - val_loss: 0.3638 - val_accuracy: 0.8505
Epoch 74/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3193 - accuracy: 0.8688 - val_loss: 0.3638 - val_accuracy: 0.8555
Epoch 75/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3179 - accuracy: 0.8690 - val_loss: 0.3629 - val_accuracy: 0.8540
Epoch 76/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3187 - accuracy: 0.8680 - val_loss: 0.3640 - val_accuracy: 0.8570
Epoch 77/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3183 - accuracy: 0.8667 - val_loss: 0.3716 - val_accuracy: 0.8525
Epoch 78/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3179 - accuracy: 0.8687 - val_loss: 0.3634 - val_accuracy: 0.8535
Epoch 79/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3185 - accuracy: 0.8677 - val_loss: 0.3647 - val_accuracy: 0.8505
Epoch 80/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3182 - accuracy: 0.8672 - val_loss: 0.3638 - val_accuracy: 0.8535
Epoch 81/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3189 - accuracy: 0.8677 - val_loss: 0.3670 - val_accuracy: 0.8535
Epoch 82/100
600/600 [==============================] - 3s 6ms/step - loss: 0.3188 - accuracy: 0.8690 - val_loss: 0.3621 - val_accuracy: 0.8550
Epoch 83/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3185 - accuracy: 0.8700 - val_loss: 0.3648 - val_accuracy: 0.8515
Epoch 84/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3186 - accuracy: 0.8682 - val_loss: 0.3634 - val_accuracy: 0.8540
Epoch 85/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3177 - accuracy: 0.8687 - val_loss: 0.3644 - val_accuracy: 0.8460
Epoch 86/100
600/600 [==============================] - 3s 5ms/step - loss: 0.3180 - accuracy: 0.8688 - val_loss: 0.3621 - val_accuracy: 0.8545
Epoch 87/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3173 - accuracy: 0.8693 - val_loss: 0.3650 - val_accuracy: 0.8490
Epoch 88/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3182 - accuracy: 0.8682 - val_loss: 0.3663 - val_accuracy: 0.8545
Epoch 89/100
600/600 [==============================] - 2s 3ms/step - loss: 0.3179 - accuracy: 0.8678 - val_loss: 0.3635 - val_accuracy: 0.8555
Epoch 90/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3185 - accuracy: 0.8700 - val_loss: 0.3666 - val_accuracy: 0.8520
Epoch 91/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3178 - accuracy: 0.8687 - val_loss: 0.3674 - val_accuracy: 0.8530
Epoch 92/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3181 - accuracy: 0.8687 - val_loss: 0.3716 - val_accuracy: 0.8525
Epoch 93/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3185 - accuracy: 0.8683 - val_loss: 0.3626 - val_accuracy: 0.8535
Epoch 94/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3179 - accuracy: 0.8695 - val_loss: 0.3627 - val_accuracy: 0.8520
Epoch 95/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3177 - accuracy: 0.8720 - val_loss: 0.3640 - val_accuracy: 0.8515
Epoch 96/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3179 - accuracy: 0.8698 - val_loss: 0.3635 - val_accuracy: 0.8540
Epoch 97/100
600/600 [==============================] - 3s 4ms/step - loss: 0.3185 - accuracy: 0.8678 - val_loss: 0.3615 - val_accuracy: 0.8555
Epoch 98/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3182 - accuracy: 0.8698 - val_loss: 0.3621 - val_accuracy: 0.8525
Epoch 99/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3179 - accuracy: 0.8693 - val_loss: 0.3614 - val_accuracy: 0.8520
Epoch 100/100
600/600 [==============================] - 2s 4ms/step - loss: 0.3190 - accuracy: 0.8673 - val_loss: 0.3627 - val_accuracy: 0.8515

In [54]:
y_pred=model.predict(x_test)

63/63 [==============================] - 0s 1ms/step

In [57]:
y_pred=np.where(y_pred>0.5,1,0)

In [60]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)

In [61]:
cm

array([[1493,   80],
       [ 231,  196]])

In [63]:
accuracy_score(y_test,y_pred)

0.8445